$text-primary: #141414;
$text-secondary: #ffffff;
$light-primary: #d6ffe7;
$light-secondary: #3c6faa;
$dark-primary: #0267b4;
$dark-secondary:#025594;
$color-pirmary: #686868;
$color-secondary: #3c5188;